{
    "database": "games",
    "host": "localhost",
    "user": "root",
    "password": "password",
    "logging": /* one of false | true */, 
    "dialect": /* one of "mysql" | "mariadb" | "postgres" | "mssql" | "sqlite" */,
    "pathToStorage": "path/to/sqlite"
}